export DATABASE_URL=postgres://username:password@localhost:5432/shishakai
export TWITTER_CONSUMER_KEY=xxxxx
export TWITTER_CONSUMER_SECRET=xxxxx
export TWITTER_APPLICATION_KEY=xxxxx
export TWITTER_APPLICATION_SECRET=xxxxx